body {
    background: #F2F2F2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#login {
    padding: 0 15px;
}

h1 {
    font-family: Calligraffitti;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
    margin-bottom: 22px;
    color: #1A1A1A;
}

.form-props {
    max-width: 420px;
    margin:0 auto 25px auto;
    text-align: left;
    color: #1A1A1A;

    label {
        text-align: left;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 15px;
        display: inline-block;
    }

    input {
        width: 100%;
        height: 44px;
        border: 2px solid #979797;
        font-size: 20px;
    }
}

button {
    color:white;
    width: 221px;
    height: 63px;
    background-color: #4A90E2;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    font-family: Roboto;
}