<div class="container">
  <div id="login">
    <h1>Kite</h1>
    <form action="">
      <div class="form-props">
        <label for="username">Username</label>
        <input type="text" id="username">
      </div>
      <div class="form-props">
        <label for="password">Password</label>
        <input type="password" id="password">
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</div>
